# the repository at https://packages.gitlab.com/gitlab/gitlab-ce
#deb http://mirrors.lifetoy.org/gitlab-ce/ubuntu trusty main

deb https://mirrors.tuna.tsinghua.edu.cn/gitlab-ce/ubuntu trusty main

#deb https://packages.gitlab.com/gitlab/gitlab-ce/{{ ansible_distribution|lower }}/ {{ ansible_distribution_release }} main
#deb-src https://packages.gitlab.com/gitlab/gitlab-ce/{{ ansible_distribution|lower }}/ {{ ansible_distribution_release }} main
